/* @font-face {
  font-family: "elmahdy-bold-font";
  src: local("AirbnbCerealLight"),
    url("./../public/fonts/RB\ Bold.ttf") format("truetype");
} */
@font-face {
  font-family: "elmahdy-bold-font";
  src: url("./../public/fonts/ArbFONTS-riyad-bank-Bold.ttf");
}
@font-face {
  font-family: "elmahdy-regular-font";
  src: url("./../public/fonts/ArbFONTS-riyad-bank-Regular.ttf");
}
* {
  font-family: "elmahdy-regular-font";
}
.cart-button {
  background-color: #ffcc1b;
  position: absolute;
  top: 84%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  left: 13px;
  z-index: 100;
  border: none;
}
.product-card {
  box-shadow: 0px 0px 3px 1px #c6c6c6;
  border: 0.5px solid #9b9b9b;
  width: 170px;
}
.cart-button:hover {
  background-color: #d2d2d2;
  cursor: pointer;
}
.card {
  background-color: rgb(246, 246, 246);
}
img:hover {
  opacity: 0.88;
}
.profile-info {
  width: 18rem;
  top: 140px;
  position: fixed;
  z-index: 100;
}
.a-link {
  color: black;
}
.a-link:hover {
  color: #848484;
}

.footer-icon-mail {
  margin: 4px;
  /* font-weight: lighter; */
  /* border-radius: 50%; */
  font-size: 26px;
  color: rgb(243, 243, 243);
}

.footer-icon-mail:hover {
  color: #c6c6c6;
}

footer a,
p {
  font-size: 11.5px;
}
.NavDropdownItem {
  text-align: center;
}


form.example input[type="text"] {
  padding: 10px;
  font-size: 12.3px;
  border: 1px solid rgb(148, 148, 148);
  float: left;
  width: 37vw;
  background: #f9f9f9;
  height: 30px;
}

form.example input[type="text"]:focus {
  outline: none;
}
form.example input[type="text"]::placeholder {
  outline: none;
  color: #d4d4d4;
}

form.example button {
  float: left;
  width: 33px;
  background: #d8d8d8;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border: 1px solid rgb(148, 148, 148);
  border-right: none;
  cursor: pointer;
  height: 30px;
}

form.example button:hover {
  background: #cfcfcf;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.login {
  display: flex;
  align-items: center;
  padding-bottom: 9%;
}
.navigte-route {
  color: #515151;
}
.navigte-route:hover {
  color: #7a7a7a;
}
.navigte-sub-route:hover {
  background-color: #ffd341;
}
.cart-item {
  /* box-shadow: 0px 2px 3px 0.5px #d9d9d9; */
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  position: relative;
}
.close-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
  width: 22px;
  margin: 12px;
  border: 1px solid #ec4242;
  border-radius: 50%;
  color: #ec4242;
  position: absolute;
  z-index: 150;
  left: 0;
  top: 0;
}
.close-icon:hover {
  color: #f7f7f7;
  background-color: #ec4242;
}
.category-card {
  border: 1px solid #e0e0e000;
  background-color: #f3f3f3;
  box-shadow: 0px 2px 3px 1px rgb(219, 219, 219);
}
@media screen and (max-width: 900px) {
  .category-card {
    width: 20%;
  }
}
.category-card:hover {
  border: 1px solid #ffcc1b;
  color: #000;
}
.counter:focus {
  box-shadow: none;
}

/* .p-carousel-item-active:nth-child(3n){
  scale: 1.2;
} */
/* .p-carousel-item-start::after{
  scale: 0.8;
} */

.wider-card .p-carousel-items-container {
  margin-left: -23px !important;
  margin-bottom: 20px;
}

.wider-card .p-carousel-item-start + .p-carousel-item-active {
  transform: scaleY(0.8);
  transform: scaleX(1);
}
.wider-card .p-carousel-item-active:has(+ .p-carousel-item-end) {
  transform: scaleY(0.8);
  transform: scaleX(1);
}
.wider-card .p-carousel-item-start {
  margin-right: -13.2px;
  scale: 0.75;
}
.wider-card .p-carousel-item-end {
  margin-left: -13.2px;
  scale: 0.75;

  /* margin-left:-26.2px; */
}
.wider-card
  .p-carousel-item-start
  + .p-carousel-item-active
  + .p-carousel-item-active {
  transform: scale(1.125);
  margin-left: 25px;
  margin-right: 25px;
}

.navigte-route::after {
  margin-right: 7px;
  font-size: 14px;
}

/* @media screen and (min-width: 1200px) {
  .small-arrow .p-carousel-next {
   
    left: -37.5%;
  }
  .small-arrow .p-carousel-prev {
   
    left: 39%;
  }
} */

@media screen and (max-width: 1200px) {
  /* .wider-card .p-carousel-item-start + .p-carousel-item-active {
    transform: scaleY(1);
  transform: scaleX(1);
  }
  .wider-card .p-carousel-item-active:has(+ .p-carousel-item-end) {
    transform: scale(1);
  }
  .wider-card .p-carousel-item-start {
   scale: 1;
    margin-right: 0px;
    margin-left: 0px;
  }
  .wider-card .p-carousel-item-end {
   scale: 1;
    margin-left: 0px;
  }

  .wider-card
    .p-carousel-item-start
    + .p-carousel-item-active
    + .p-carousel-item-active {
    transform: scale(1);
    margin-left: 0px;
    margin-right: 0px;
  }

  .wider-card .p-carousel-items-container {
    margin-left: 0px;
    margin-bottom: 20px;
  } */

  .wider-card .p-carousel-items-container {
    margin-left: 0px !important;
    margin-bottom: 20px;
  }

  .wider-card .p-carousel-item-start + .p-carousel-item-active {
    transform: scaleY(1);
    transform: scaleX(1);
  }
  .wider-card .p-carousel-item-active:has(+ .p-carousel-item-end) {
    transform: scaleY(1);
    transform: scaleX(1);
  }
  .wider-card .p-carousel-item-start {
    margin-right: 0px;
    scale: 1;
  }
  .wider-card .p-carousel-item-end {
    margin-left: 0px;
    scale: 1;

    /* margin-left:-26.2px; */
  }
  .wider-card
    .p-carousel-item-start
    + .p-carousel-item-active
    + .p-carousel-item-active {
    transform: scale(1);
    margin-left: 0px;
    margin-right: 0px;
  }
}
/* @media screen and  (min-device-width:992px) and (max-device-width: 1199px)  {
  .prd-line {
    margin-right: 38px;
    margin-left: 35px;
  }
}

@media screen and  (min-device-width: 1200px) and (max-device-width: 1399px)  {
  .prd-line {
    margin-right: -15px;
    margin-left: 15px;
  }
} */


@media screen and  (max-width: 1399px) {
  .prd-line {
    margin-left: -20px;
  }
} 
@media screen and  (min-width: 1399px) {
  .prd-line {
    margin-left: 8px;
  }
} 

.line {
  width: 75%;
}
.st-width{
  width: 95px;
}
@media screen and  (max-width: 1000px) {
  .line {
    display: none;
  }
}