/* @font-face {
  font-family: "elmahdy-bold-font";
  src: local("AirbnbCerealLight"),
    url("./../public/fonts/RB\ Bold.ttf") format("truetype");
} */
@font-face {
  font-family: "elmahdy-bold-font";
  src: url("./../public/fonts/ArbFONTS-riyad-bank-Bold.ttf");
}
@font-face {
  font-family: "elmahdy-regular-font";
  src: url("./../public/fonts/ArbFONTS-riyad-bank-Regular.ttf");
}
* {
  font-family: "elmahdy-regular-font";
}
.cart-button {
  background-color: #ffcc1b;
  position: absolute;
  top: 85%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  left: 10px;
  z-index: 100;
  border: none;
}
.product-card {
  box-shadow: 0px 0px 6px 1px #c6c6c6;
}
.cart-button:hover {
  background-color: #d2d2d2;
  cursor: pointer;
}
.card {
  background-color: #f4f4f4;
}
img:hover {
  opacity: 0.88;
}
.profile-info {
  width: 18rem;
  top: 140px;
  position: fixed;
  z-index: 100;
}
.a-link {
  color: black;
}
.a-link:hover {
  color: #848484;
}

.footer-icon-mail {
  margin: 4px;
  font-weight: lighter;
  border-radius: 50%;
  font-size: 26px;
  color: rgb(243, 243, 243);
}
.footer-icon-call {
  margin: 4px;
  border-radius: 50%;
  font-size: 26px;
  color: rgb(62, 62, 62);
}
.footer-icon-mail:hover {
  color: #c6c6c6;
}
.footer-icon-call:hover {
  color: #4f4f4f;
}
footer a,
p {
  font-size: 13px;
}
.NavDropdownItem {
  text-align: center;
}

form.example {
  width: 570px;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 12.3px;
  border: 1px solid rgb(148, 148, 148);
  float: left;
  width: 94%;
  background: #f9f9f9;
  height: 30px;
}

form.example input[type="text"]:focus {
  outline: none;
}
form.example input[type="text"]::placeholder {
  outline: none;
  color: #d4d4d4;
}

form.example button {
  float: left;
  width: 6%;
  background: #d8d8d8;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border: 1px solid rgb(148, 148, 148);
  border-right: none;
  cursor: pointer;
  height: 30px;
}

form.example button:hover {
  background: #cfcfcf;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.login {
  background-color: #ffcc1b;
  display: flex;
  align-items: center;
  padding-bottom: 9%;
}
.navigte-route {
  color: #515151;
}
.navigte-route:hover {
  color: #7a7a7a;
}
.navigte-sub-route:hover {
  background-color: #ffd341;
}
.cart-item {
  /* box-shadow: 0px 2px 3px 0.5px #d9d9d9; */
  padding: 40px;
  background-color: #FFF;
  border:1px solid rgb(204, 204, 204);
  border-radius: 10px;
  position: relative;
}
.close-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
  width: 22px;
  margin: 12px;
  border: 1px solid #ec4242;
  border-radius: 50%;
  color: #ec4242;
  position: absolute;
  z-index: 150;
  left: 0;
  top: 0;
}
.close-icon:hover{
  color: #f7f7f7;
  background-color: #ec4242;
}
.category-card {
  border: 1px solid #e0e0e0;
  width: 11%;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 5px 0.5px rgb(217, 217, 217);
}
@media screen and (max-width: 900px) {
  .category-card {
    width: 20%;
  }
}
.category-card:hover {
  border: 1px solid #ffcc1b;
  color: #000;
}
.counter:focus {
  box-shadow: none;
}

/* .p-carousel-item-active:nth-child(3n){
  scale: 1.2;
} */
/* .p-carousel-item-start::after{
  scale: 0.8;
} */
.wider-card .p-carousel-item-start + .p-carousel-item-active {
  scale: 0.82;
  margin-right: 3px;
}
.wider-card .p-carousel-item-active:has(+ .p-carousel-item-end) {
  scale: 0.82;
  margin-left: 3px;
}
.wider-card .p-carousel-item-start,
.wider-card .p-carousel-item-end {
  scale: 0.65;
}

.small-arrow .p-carousel-next{
  position: absolute;
  left: 58.5%;
  z-index: 200;
}
.small-arrow .p-carousel-prev{
  position: absolute;
  left: 39.5%;
  z-index: 200;

}
